@import '../../../variables.scss';

.title {
  &__container {
    display: flex;
    flex-direction: column;
    color: $holstein-white;
    align-items: center;
    padding-top: 75px;
    margin-bottom: 20px;
  }

  &__heading {
    text-align: center;
    font-size: 4em;
  }

  &__sub-heading {
    text-align: center;
    font-size: 2em;
    margin-top: 10px;
  }

  &__button-container {
    margin-top: 24px;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-around;
    max-width: 800px;
  }

  &__button {
    margin: 20px;
    width: 150px;
    color: $holstein-white;
    background-color: transparent;
    border-color: $holstein-white;
  }

  &__button:hover {
    color: black !important;
    background-color: $holstein-white !important;
    border-color: $holstein-white !important;
  }

  &--cursor-pointer {
    cursor: pointer;
  }
}
